<div class="container">
	<form method="POST" class="form-group" action="/submit">
		<div class="form-group">
			<input 
				type="text" 
				class="form-control" 
				name="holeName" 
				placeholder="Назва дірочки"
			>
		</div>
		<div class="form-group">
			<input 
				type="text" 
				name="holeStatus" 
				class="form-control" 
				placeholder="Шо ж там з дірочкою?"
			>
		<div class="form-group">
			<input 
				type="submit"
				class="btn btn-success form-control" 
				value="Проткнути"
			>
		</div>
	</form>
</div>
